<div class="clearfix" data-ng-controller="shellController as vm" id="wrapper">
    <header data-ng-include="'/app/layout/topnav.html'"></header>

    <div>
        <!--<div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div data-cc-spinner="vm.spinnerOptions"></div>
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}</div>
        </div>-->

        <nav data-ng-include="'/app/layout/sidebar.html'" class="navbar-inverse" role="navigation"></nav>
        <div ui-view></div>

        <div data-ng-view class="shuffle-animation"></div>
    </section>
</div>