<div data-cc-sidebar>
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget"></div>
        <ul class="navi">
            <li ui-sref-active="current" class="nlightblue">
                <a ui-sref="home">Home</a>
            </li>
            <li ui-sref-active="current" class="nlightblue">
                <a ui-sref="admin"  >Admin</a>
            </li>
        </ul>
    </div>
</div>