<link href="../../content/loginStyle.css" rel="stylesheet" />
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" ng-src="{{loginCtrl.userData.profileImg}}" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
            <span ng-show="loginCtrl.isUserSavedInLocalSt()" ng-bind="loginCtrl.userData.email" id="reauth-email" class="reauth-email"></span>
            <input ng-hide="loginCtrl.isUserSavedInLocalSt()" ng-model="loginCtrl.userData.email" type="email" id="inputEmail" class="form-control"
                placeholder="Email address" required autofocus>
            <input ng-model="loginCtrl.userData.password" type="password" id="inputPassword" class="form-control" placeholder="Password"
                required>
            <div id="remember" class="checkbox">
                <label style="margin-left: 10px;">
                  <input id="rememberMe" ng-checked="loginCtrl.userData.isChecked" ng-click="loginCtrl.triggerRememberMeCheckbox()" type="checkbox" />
                    <!--value="remember-me"-->
                    <small> <i>I'm Awesome, Remember Me!</i></small>
                </label>
            </div>
            <button ng-click="loginCtrl.login()" class="cust-btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form>

        <!-- TODO need validation on Registration -->
        <a href="#" ng-click="loginCtrl.registerUser()" type="submit" class="forgot-password">
                Register!
            </a>
        </br>
        <a href="#" ng-click="loginCtrl.removeUserFromLocalStorage()">
                Not me! Sign in with another user.
            </a>
        <div ng-show="loginCtrl.message" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> {{loginCtrl.message}}
        </div>
    </div>
    <!-- /card-container -->

</div>
<!-- /container -->